<div *ngFor="let item of data" class="col-3 mb-4">
    <div class="card">
      <img class="card-img-top" [src]="item.img" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title mb-3">{{item.nombre}}</h5>

        <p class="card-text">
          <lou-icon icon="Alarm"></lou-icon>
          Día: {{item.dia | date: 'dd/MM/yyyy'}}
        </p>

        <p class="card-text">
          <lou-icon icon="Calendar"></lou-icon>
          Hora: {{item.hora}}
        </p>

        <p class="card-text">
          <lou-icon icon="Person"></lou-icon>
          Instructor: {{item.instructor.nombre}}
        </p>

        <lou-button [routerLink]="['./',item.id]">Información</lou-button>

      </div>
    </div>
</div>

