<div class="container my-5">

  <h1 class="my-4">Components</h1>
  <hr>

  <div class="row">

    <!-- Select -->
    <div class="col-6">

      <div class="col my-3">
        <h4>Select</h4>
        <lou-select label="Instructor" [lista]="personas" state="default" mensaje="Lorem ipsum"></lou-select>
      </div>

      <div class="col my-3">
        <lou-select label="Instructor" [lista]="personas" state="default" [disabled]="true"
                    mensaje="Lorem ipsum"></lou-select>
      </div>

      <div class="col my-3">
        <lou-select label="Instructor" [lista]="personas" state="valid" mensaje="Nombre válido"></lou-select>
      </div>

      <div class="col my-3">
        <lou-select label="Instructor" [lista]="personas" state="error" mensaje="Nombre inválido"></lou-select>
      </div>
    </div>

    <!-- Input-->
    <div class="col-6">

      <div class="col my-3">
        <h4>Input</h4>
        <lou-input label="Nombre completo" state="default" mensaje="Lorem ipsum" placeholder="Ingrese..."></lou-input>
      </div>

      <div class="col my-3">
        <lou-input label="Nombre completo" state="default" mensaje="Lorem ipsum" placeholder="Ingrese..."
                   [disabled]="true"></lou-input>
      </div>

      <div class="col my-3">
        <lou-input label="Nombre completo" state="valid" mensaje="Nombre válido" placeholder="Ingrese..."></lou-input>
      </div>

      <div class="col my-3">
        <lou-input label="Nombre completo" state="error" mensaje="Nombre inválido" placeholder="Ingrese..."></lou-input>
      </div>

    </div>

    <!-- Button -->
    <div class="col-6 my-4">

      <div class="col my-3">
        <h4>Button</h4>
        <lou-button type="filled" size="sm" estilo="primary">
          <lou-icon icon="download" start></lou-icon>
          Login
        </lou-button>
      </div>

      <div class="col my-3">
        <lou-button type="outline" size="sm" estilo="primary">
          <lou-icon icon="download" start></lou-icon>
          Login
        </lou-button>
      </div>

      <div class="col my-3">
        <lou-button type="filled" size="sm" estilo="primary" [disabled]="true">
          <lou-icon icon="download" start></lou-icon>
          Login
        </lou-button>
      </div>

      <div class="col my-3">
        <lou-button type="filled" size="sm" estilo="link">
          <lou-icon icon="download" start></lou-icon>
          Login
        </lou-button>
      </div>

      <div class="col my-3">
        <lou-button type="filled" size="sm" estilo="primary">
          <lou-icon icon="download" end></lou-icon>
          Login
        </lou-button>
      </div>

      <div class="col my-3">
        <lou-button type="filled" size="lg" estilo="primary">
          <lou-icon icon="download" start></lou-icon>
          Login
        </lou-button>
      </div>

    </div>

    <!-- Card -->
    <div class="col-6 my-4">

      <div class="col my-3">
        <h4>Card</h4>
        <app-card [data]="cursos"></app-card>
      </div>

    </div>

  </div>
</div>

<h4 class="text-center">Header</h4>
<lou-header
  title="AppTalleres"
  imagen="https://bit.ly/3p7eRdb"
  class="text-white">

  <a routerLink="youtube.com">
    <lou-icon icon="user"></lou-icon>
    Iniciar Sesión
  </a>

</lou-header>

<h4 class="text-center">Footer</h4>
<lou-footer title="AppTalleres" [links]="enlaces"></lou-footer>
